[data-mode='light'] {
  .app-wrap{
    background: #3967F0;
  }
  .ant-layout .ant-layout-sider-light {
    background: #3967F0;
  }
  .ant-menu-light {
    background: transparent;
    color: #ffffff;
  }
  .ant-layout .ant-layout-sider-light .ant-layout-sider-trigger{
    background: #3967F0;
    color: #ffffff;
  }
}

[data-mode='dark'] {
  .app-wrap{
    background: #262626;
  }
  .ant-layout .ant-layout-sider-light {
    background: #262626;
  }
  .ant-menu-light {
    background: transparent;
    color: #ffffff;
  }
  .ant-layout .ant-layout-sider-light .ant-layout-sider-trigger{
    background: #262626;
  }
}

.ant-layout .ant-layout-header{
  line-height: unset;
}
.app-main{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.ant-menu-light.ant-menu-root.ant-menu-inline{
  border-inline-end: none;
}
.ant-breadcrumb {
  font-size: 16px;
  ol{
    align-items: center;
  }
}

//.ant-menu-light.ant-menu-inline>div {
//  position: relative;
//  &::after {
//    position: absolute;
//    content: '';
//    width: 30px;
//    height: 30px;
//    line-height: 100px;
//    display: block;
//    text-align: center;
//    background-image: radial-gradient(200px at 0px 30px , #fff 30px, transparent 30px);
//    top : 40px;
//    right: 0;
//  }
//  &::before {
//    position: absolute;
//    content: '';
//    width: 30px;
//    height: 30px;
//    line-height: 100px;
//    display: block;
//    text-align: center;
//    background-image: radial-gradient(200px at 0px 30px , #fff 30px, transparent 30px);
//    top : 0;
//    right: 0;
//  }
//}
